<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Edgar Catalan</h1>
        <p class="hero__tagline">Summary about me</p>
        <a href="" class="btn btn--accent btn--stretched">GitHub</a>
        <a href="" class="btn btn--accent btn--stretched" style="margin-left: 5px;">LinkedIn</a>
      </header>
      <img src="images/thumbnail_IMG_0376.jpg" alt="" class="hero__image"/>
    </div>
  </section>